src/main/mule/filewrite-jenkins-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="487a0817-22a3-4dda-a308-6d47d6da94cf" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="579e0872-134a-4f45-8a9e-e4f26fc7c7f8" >
		<file:connection workingDir="C:\Users\shekshukla\AnypointStudio\studio-workspace\filewrite-jenkins-demo\src\main\resources\output" />
	</file:config>
	<flow name="filewrite-jenkins-demoFlow" doc:id="61d90ed1-1add-4e1d-877f-213597d24f40" >
		<http:listener doc:name="Listener" doc:id="078e6988-1fb8-4592-8076-fee547b3c2b5" path="/write/{resourceType}" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[attributes.uriParams.resourceType]" doc:name="Set Variable" doc:id="5ed109a0-41e8-4a5e-9ed3-bf4e94639b45" variableName="resourceType"/>
		<logger level="INFO" doc:name="Logger" doc:id="b58acdd2-13b8-43be-9667-94eebdbccba3" />
		<choice doc:name="Choice" doc:id="a5bd1acf-12a1-42b8-aeb3-5158f76c319a" >
			<when expression='#[vars.resourceType=="users"]'>
				<http:request method="GET" doc:name="Request" doc:id="114ed56e-3bac-4cd9-ace3-b1c52d866a30" url="https://jsonplaceholder.typicode.com/users">
		</http:request>
				<ee:transform doc:name="Transform Message" doc:id="6e5672e3-6068-4545-ba92-e031b077e493">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload map ( payload01 , indexOfPayload01 ) -> {
	name: payload01.name,
	username: payload01.username,
	phone: payload01.phone,
	email: payload01.email
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="9d84d13e-6c5c-47b9-9b7b-de4f0945bbde" config-ref="File_Config" path="users.csv"/>
				<logger level="INFO" doc:name="Logger" doc:id="e4aecdac-3d77-4b25-b78c-1169db54fbff" />
			</when>
			<otherwise >
				<http:request method="GET" doc:name="Request" doc:id="2cdeb354-b90a-4326-b10d-1cafa7e50004" url="https://jsonplaceholder.typicode.com/posts"/>
				<ee:transform doc:name="Transform Message" doc:id="16035e75-4034-4585-bacc-c29aa1a10503">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload map ( payload01 , indexOfPayload01 ) -> {
	name: payload01.title,
	userId: payload01.userId as String,
	body: payload01.body
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f795eb0c-ce42-4c44-8732-ef1bc3446a2d" />
				<file:write doc:name="Write" doc:id="4b988ca2-f7d9-436b-96da-7485e6174095" config-ref="File_Config" path="posts.csv"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="dd12620f-6c20-4e11-a422-6049727ed72d" />
	</flow>
	<flow name="filewrite-jenkins-demoFlow1" doc:id="be833737-ec4e-49bc-8ed1-d584fc01a6ed" >
		<http:listener doc:name="Listener" doc:id="20f0d06f-9a48-4b22-8f5b-ad74598e6ce7" config-ref="HTTP_Listener_config" path="/foreachdemo"/>
		<logger level="INFO" doc:name="Logger" doc:id="cb04765a-a9e5-4588-bb25-81ce209987e0" />
		<foreach doc:name="For Each" doc:id="a0276994-3485-4e1d-8761-652ef7ab7bca" >
			<logger level="INFO" doc:name="Logger" doc:id="7d9397d1-250d-4203-a5ee-52a67055aa71" />
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="de79d619-9737-460a-972d-3df40d2a975e" variableName="lastItem" />
			<set-payload value='#["Inner payload"]' doc:name="Set Payload" doc:id="daef4cdc-ef33-43e3-9c22-db5efbf154ec" />
			<logger level="INFO" doc:name="Logger" doc:id="0a02ffa1-8cdf-4169-9572-b8f2b7a66ae5" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="5301ac2f-74d5-46eb-99ea-d11ae9373043" message="#[payload]"/>
	</flow>
</mule>
